name: CI/CD Deploy to AWS

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # 1. Connexion à Docker Hub et Push de l'image
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        run: |
          docker build -t alexandrebrouzes/sae-5-01-iut-api:latest .
          docker push alexandrebrouzes/sae-5-01-iut-api:latest

      # 2. Connexion SSH à AWS pour mettre à jour les containers
      - name: Deploy to AWS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ubuntu
          key: ${{ secrets.AWS_PRIVATE_KEY }}
          script: |
            cd ~/project
            docker compose pull api-4awalk
            docker compose up -d api-4awalk
            
